
.slider>.navContainer{
	width:49%;
	height: 100%;
	position: relative;
	display:inline-block;
	
	z-index: 2;
}
.slider>.navContainer>.leftClass,.slider>.navContainer>.rightClass{
	height: inherit;
	width:10%; 
	background: url(assets/images/arrow.png) no-repeat center;
	background-size:100% auto;
	position: absolute;
	opcity:0.4;
}
.slider>.navContainer>.rightClass{
	right: 0;
	
}
.slider>.navContainer>.leftClass{
	left:0;
	transform:rotate(-180deg);
}




